<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>131272226560-bjg4036a5d76k5uvjdo7u07ofadj7oq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131272226560-bjg4036a5d76k5uvjdo7u07ofadj7oq5</string>
	<key>API_KEY</key>
	<string>AIzaSyBRtizFUlXNRk4rk7Now63n6rujD0KkUjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>131272226560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kada.RealTimeChat</string>
	<key>PROJECT_ID</key>
	<string>realtimechat-6ac19</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimechat-6ac19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:131272226560:ios:84eab9a1c4a1100d</string>
	<key>DATABASE_URL</key>
	<string>https://realtimechat-6ac19.firebaseio.com</string>
</dict>
</plist>